
html {
    scroll-padding-top: 90px; /* Adjust based on navbar height */
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Helvetica;
    margin: 0;
    min-width: 612px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.no-margin {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.navbar {
    border-bottom: 2px solid black;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
    gap: 5px;
}

.nav-logo {
    width: 150px;
    margin-right: 5px;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: color .2s linear, background-color .2s linear;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: black;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 200px
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%; 
}

.footer {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    background-color: black;
    color: white;
    gap: 200px;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.links-container > h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

.links-container > a {
    color: white;
    text-decoration: none;
}

.links-container > a:hover {
    text-decoration: underline;
}

.set-cursor-to-pointer {
    cursor: pointer;
}
